[submodule "submodules/rive"]
	path = submodules/rive
	url = https://github.com/zakariamoknine/rive
[submodule "submodules/opensbi"]
	path = submodules/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "submodules/VexiiRiscv"]
	path = submodules/VexiiRiscv
	url = https://github.com/SpinalHDL/VexiiRiscv
